<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPSReceiverExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GPSReceiverExample.Properties.Settings>
            <setting name="ServerHostname" serializeAs="String">
                <value>gateway.example.net</value>
            </setting>
            <setting name="ServerUsername" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>5672</value>
            </setting>
            <setting name="VirtualHost" serializeAs="String">
                <value>acmgroup</value>
            </setting>
            <setting name="ExchangeName" serializeAs="String">
                <value>acm.gws</value>
            </setting>
            <setting name="QueueName" serializeAs="String">
                <value>gps.receiver.test</value>
            </setting>
            <setting name="RoutingKey" serializeAs="String">
                <value>gps.#</value>
            </setting>
            <setting name="FlagsDurable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlagsExclusive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlagsAutoDelete" serializeAs="String">
                <value>False</value>
            </setting>
        </GPSReceiverExample.Properties.Settings>
    </userSettings>
</configuration>